<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{user/about}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie Details</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
        integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
        crossorigin="anonymous" referrerpolicy="no-referrer">
    <link rel="stylesheet" th:href="@{/css/content.css}">
</head>

<body>
    <div class="container mt-4 info" layout:fragment="content">
        <div class="row">
            <!-- Thông tin chi tiết phim -->
            <div class="col-md-6">
                <ul class="list-unstyled">
                    <li>
                        <strong>Ngày công chiếu:</strong>
                        <span th:text="${detailMovie.release_date}"></span>
                    </li>
                    <li>
                        <strong>Đạo diễn:</strong>
                        <span th:text="${detailMovie.director}">Adam Wingard</span>
                    </li>
                    <li>
                        <strong>Diễn viên:</strong>
                        <span th:text="${detailMovie.Performer}">Kyle Chandler, Rebecca Hall, Eiza González, Millie
                            Bobby Brown</span>
                    </li>
                    <li>
                        <strong>Thể Loại:</strong>
                        <span th:each="cate: ${category}">
                            <span th:text="${cate.category.name}">Hành động, Giả tưởng, Ly kỳ</span>
                        </span>
                    </li>

                </ul>
            </div>
            <!-- Nội dung phim -->
            <div class="col-md-6">
                <h3>Nội dung</h3>
                <p th:text="${detailMovie.content}">

                </p>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-csfgfvsNV3yVZcxvp3yGV+YDF3Tq/7aym5CV9uvN1GAUZ2OFjFKN5PFX4adHRdzV"
        crossorigin="anonymous"></script>
</body>

</html>